# Cloudflare Worker for HampiStays Backend
name = "hampi-stays"
main = "server/worker.js"
compatibility_date = "2026-05-13"
compatibility_flags = [ "nodejs_compat" ]

[vars]
NODE_ENV = "production"
DATABASE_URL = "SET_IN_CLOUDFLARE_SECRET"
FRONTEND_URL = "https://hampi-stays.pages.dev"
JWT_SECRET = "SET_IN_CLOUDFLARE_SECRET"
VITE_GOOGLE_CLIENT_ID = "389686748462-nh36uj8ht8go4unb9607sclhgl1plb7r.apps.googleusercontent.com"
CLOUDINARY_CLOUD_NAME = "dfs6lmdns"
CLOUDINARY_API_KEY = "SET_IN_CLOUDFLARE_SECRET"
CLOUDINARY_API_SECRET = "SET_IN_CLOUDFLARE_SECRET"
RAZORPAY_KEY_ID = "rzp_test_Snxno5G3tcQKcs"
RAZORPAY_KEY_SECRET = "SET_IN_CLOUDFLARE_SECRET"
ENCRYPTION_KEY = "SET_IN_CLOUDFLARE_SECRET"


[dev]
port = 5000

[triggers]
crons = ["0 * * * *"]
